body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.password-container {
    background-color: pink;
    width: 500px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.password-container h2 {
    font-size: 30px;
}

.input-container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    letter-spacing: 4px;
}

.input::placeholder{
    letter-spacing: 0;
}

.fa-copy {
    cursor: pointer;
    opacity: 0.3;
}

.fa-copy:hover{
    opacity: 0.9;
}

.btn {
    background-color: black;
    color: white;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: lightgreen;
    color: black;
}

.btn:active {
    transform: scale(0.7);
}

.alert-container {
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    position: fixed;
    font-size: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.active{
    right: -300px;
}