body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: aliceblue;
    line-height: 1;
    letter-spacing: 0.4rem;
    font-size: 40px;
    font-weight: 600;
}

header {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.background-video {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(30%);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.3s linear;
    background-color: white;
}