body {
    background-color: yellow;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 10px;   
    padding: 10px; 
    background-color: darkcyan;
    color:aliceblue;
    text-align: center;
}

.container h2 {
    font-size: 30px;
}

.currency-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.currency-container select{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.currency-container input {
    border: none;
    background-color: transparent;
    text-align: right;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
}

select:focus, input:focus-visible {
    outline: none;
}

.exchange-rate {
    font-size: 20px;
    font-weight: 600;
}

.convert {
    font-size: 20px;
    border: none;
    color: aliceblue;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}