body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: cursive;
}

.container {
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 35%;
}

.heading{
    text-align: center;
    font-size: 40px;
    margin: 0 0 10px 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

#date {
    margin: 5px 0;
    padding: 5px;
    width: 60%;
    border: 1px solid rgb(127, 130, 132);
    border-radius: 2px;
}

#btn {
    border: none;
    background-color: rgb(19, 95, 235);
    height: 30px;
    width: 40%;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    margin-bottom: 10px;
}

.result {
    text-align: center;
    font-size: 25px;
}