body {
    margin: 0;
    font-family: cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA3fHxsYXB0b3AlMjBrZXlib2FyZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
}

.heading {
    text-align: center;
    font-size: 60px;
    letter-spacing: 4px;
    color: aliceblue;
    font-weight: 600;
    text-shadow: 8px 8px 8px rgba(0,0,0, 0.3);
}

.btn {
    padding: 10px 20px;
    font-size: medium;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.8);
}

.active.container {
    filter: blur(5px) brightness(0.7);
}

.popup-container {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background-image: url("https://plus.unsplash.com/premium_photo-1661521426303-9c13b952df3b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjA1fHxsYXB0b3AlMjBrZXlib2FyZHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}

h2 {
    font-size: 30px;
    color: blueviolet;
}

label {
    color: blueviolet;
}

.popup-btn {
    padding: 10px;
    background-color: orangered;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-btn:hover {
    filter: brightness(0.8);
}

#input {
    padding: 10px;
    margin: 10px 0;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

input::placeholder {
    color: lightgray;
}

.close-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover {
    color: orangered;
}

.active.popup-container {
    visibility: hidden;
    opacity: 0;
    top: 10%;
}